:root {
    --prime-color: #87ecd0;
    --prime-color-alt: #4bad9d;
    --prime-color-fade: rgba(135, 236, 208, 0.5);
    --back-color: #fffefa;
    --gray-fade: rgba(0, 0, 0, 0.1);
}

*, ::before, ::after {
    box-sizing: border-box;
    list-style: none;
    font-family: monospace;
    font-size: small;
}

li {
    font-size: 2em;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--back-color);
}

input[type="text"], textarea {
    background-color : var(--back-color); 
}

#results {
    width: 20rem;
    height: 15rem;
}

#results-loader {
    width: 50px;
    height: 50px;
}

#graph-container {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 600px;
}

.content {
    display: contents;
}

@media (max-width: 576px) {
    .form-container {
        width: 225px;
    }
}

@media (max-width: 992px) {
    .content {
        display: block;
    }
}

.rendered-node {
    position: absolute;
    color: gray;
    font-size: 0.8em;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}  

.btn, .btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn:focus {
    background-color: var(--prime-color);
    border: none;
    transition: all 0.3s ease 0s;

    -webkit-box-shadow: 0px 7px 15px 0px var(--prime-color-fade);
    -moz-box-shadow: 0px 7px 15px 0px var(--prime-color-fade);
    box-shadow: 0px 7px 15px 0px var(--prime-color-fade);
}

.form-control:focus {
    border: 1px solid;
    box-shadow: none;
}

.btn:hover,  .btn:active .btn-primary:active {
    background-color: var(--prime-color-alt);
}

.btn:focus {
    box-shadow: 0px 0px 0px px var(--prime-color-fade);
}

.edge-svg, #graph-container svg {
    position: absolute;
    display: block;
    overflow: visible;
}

.footer-a, .footer-a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.hide-edges {
    display: none !important;
}